.detail_pokedex{
    display: flex;
    flex-direction: column;
    position: fixed;
}
.detail{
    display: flex;
    background: rgb(71, 9, 9);
    height: 20em;
    width: 40em;
    border-radius: 0 0 2em 2em;
    overflow: hidden;
    border-left: solid 0.2em black;
    border-right: solid 0.2em black;
    border-bottom: solid 0.2em black;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.detail__image{
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 15em;
    
    border: 5px solid gray;
}
.detail__image img{
    width: 300px;
}
.detail__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1.5em;
    width: 50%;
}
.detail__info p{
font-weight: 700;
color: white;
font-size: 1.5em;
}

.detail__whiteCircle{
    height: 5em;
    width: 5em;
    background:white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}
.detail__blueCircle{
    height: 4em;
    width: 4em;
    background:rgb(26, 119, 195);
    border-radius: 50%;
    border: solid 1px black;
}
.detail__case{
    background: rgb(71, 9, 9);
    padding: 1em;
    display: flex;
    border-radius: 2em 2em 0 0;
    border-top: solid 0.2em black;
    border-left: solid 0.2em black;
    border-right: solid 0.2em black;
}
.detail__littleCircles{
    display: flex;
    margin-top: 0.5em;
    
}
.detail__littleCircles_circle{
    
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    margin-left: 1em;
    border: 1px solid black;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}