.container{
  display: flex;
  flex-direction: column;
  padding: 8em;
  background: rgb(26, 25, 25);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43389F', endColorstr='#4ec6ca',GradientType=1 ); 
}
.container__visualizer{
  display: flex;
}
.container__details{
  width: 50%;
}
.container h1{
  font-size: 60px;
  color: white;
}
.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

@media(max-width:1300px){
  .container__visualizer{
    flex-direction: column-reverse;

  }
  .cardsContainer{
    margin-top: 10em;
  }
  }
  @media(min-width:1300px){
    .cardsContainer{
      width: 50%;
    }
  }